body {
    background-color: darkgray;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
/* ... Other styles ... */

a.download-button {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a.download-button:hover {
    background-color: #001f3f; /* Darker shade on hover */
}


h3 {
    color: #003366; /* Sapphire blue */
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.disclaimer {
    background-color: #003366;
    padding: 10px;
    margin-top: 20px;
}

.disclaimer p {
    margin: 0;
    color: white;
}

.icon {
    margin-right: 10px;
}
