body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    color: #003366;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.disclaimer {
    background-color: #003366;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-column {
    flex-basis: calc(50% - 10px);
    background-color: #003366;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-column .icon {
    margin-right: 10px;
}

.contact-column .details p {
    margin: 0;
    color: white;
}

a.download-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a.download-button:hover {
    background-color: #001f3f;
}
